<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.</key>
	<string>_055</string>
	<key>2.</key>
	<string>_056</string>
	<key>3.</key>
	<string>_057</string>
	<key>4.</key>
	<string>_058</string>
	<key>5.</key>
	<string>_059</string>
	<key>6.</key>
	<string>_060</string>
	<key>7.</key>
	<string>_061</string>
	<key>1</key>
	<string>_062</string>
	<key>2</key>
	<string>_063</string>
	<key>3</key>
	<string>_064</string>
	<key>4</key>
	<string>_065</string>
	<key>5</key>
	<string>_066</string>
	<key>6</key>
	<string>_067</string>
	<key>7</key>
	<string>_068</string>
	<key>1,</key>
	<string>_069</string>
	<key>2,</key>
	<string>_070</string>
	<key>3,</key>
	<string>_071</string>
	<key>4,</key>
	<string>_072</string>
	<key>5,</key>
	<string>_073</string>
	<key>6,</key>
	<string>_074</string>
	<key>7,</key>
	<string>_075</string>
	<key>1,,</key>
	<string>_076</string>
	<key>2,,</key>
	<string>_077</string>
	<key>3,</key>
	<string>_078</string>
	<key>4,,</key>
	<string>_079</string>
	<key>5,,</key>
	<string>_080</string>
	<key>6,,</key>
	<string>_081</string>
	<key>7,,</key>
	<string>_082</string>
</dict>
</plist>
