<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5..</key>
	<string>PiPa Basic Layer_055</string>
	<key>6..</key>
	<string>PiPa Basic Layer_056</string>
	<key>7..</key>
	<string>PiPa Basic Layer_057</string>
	<key>1.</key>
	<string>PiPa Basic Layer_058</string>
	<key>2.</key>
	<string>PiPa Basic Layer_059</string>
	<key>3.</key>
	<string>PiPa Basic Layer_060</string>
	<key>4.</key>
	<string>PiPa Basic Layer_061</string>
	<key>5.</key>
	<string>PiPa Basic Layer_062</string>
	<key>6.</key>
	<string>PiPa Basic Layer_063</string>
	<key>7.</key>
	<string>PiPa Basic Layer_064</string>
	<key>1</key>
	<string>PiPa Basic Layer_065</string>
	<key>2</key>
	<string>PiPa Basic Layer_066</string>
	<key>3</key>
	<string>PiPa Basic Layer_067</string>
	<key>4</key>
	<string>PiPa Basic Layer_068</string>
	<key>5</key>
	<string>PiPa Basic Layer_069</string>
	<key>6</key>
	<string>PiPa Basic Layer_070</string>
	<key>7</key>
	<string>PiPa Basic Layer_071</string>
	<key>1&apos;</key>
	<string>PiPa Basic Layer_072</string>
	<key>2&apos;</key>
	<string>PiPa Basic Layer_073</string>
	<key>3&apos;</key>
	<string>PiPa Basic Layer_074</string>
	<key>4&apos;</key>
	<string>PiPa Basic Layer_075</string>
	<key>5&apos;</key>
	<string>PiPa Basic Layer_076</string>
	<key>6&apos;</key>
	<string>PiPa Basic Layer_077</string>
	<key>7&apos;</key>
	<string>PiPa Basic Layer_078</string>
	<key>1&apos;&apos;</key>
	<string>PiPa Basic Layer_079</string>
	<key>2&apos;&apos;</key>
	<string>PiPa Basic Layer_080</string>
	<key>7.. - 2</key>
	<string>PiPa FanYin_057</string>
	<key>1. - 2</key>
	<string>PiPa FanYin_058</string>
	<key>2. - 2</key>
	<string>PiPa FanYin_059</string>
	<key>3. - 2</key>
	<string>PiPa FanYin_060</string>
	<key>4. - 2</key>
	<string>PiPa FanYin_061</string>
	<key>5. - 2</key>
	<string>PiPa FanYin_062</string>
	<key>6. - 2</key>
	<string>PiPa FanYin_063</string>
	<key>7. - 2</key>
	<string>PiPa FanYin_064</string>
	<key>1 - 2</key>
	<string>PiPa FanYin_065</string>
	<key>2 - 2</key>
	<string>PiPa FanYin_066</string>
	<key>3 - 2</key>
	<string>PiPa FanYin_067</string>
	<key>4 - 2</key>
	<string>PiPa FanYin_068</string>
	<key>5 - 2</key>
	<string>PiPa FanYin_069</string>
	<key>6 - 2</key>
	<string>PiPa FanYin_070</string>
	<key>7 - 2</key>
	<string>PiPa FanYin_071</string>
	<key>1&apos; - 2</key>
	<string>PiPa FanYin_072</string>
	<key>2&apos; - 2</key>
	<string>PiPa FanYin_073</string>
	<key>3&apos; - 2</key>
	<string>PiPa FanYin_074</string>
	<key>4&apos; - 2</key>
	<string>PiPa FanYin_075</string>
	<key>5&apos; - 2</key>
	<string>PiPa FanYin_076</string>
	<key>6&apos; - 2</key>
	<string>PiPa FanYin_077</string>
	<key>7&apos; - 2</key>
	<string>PiPa FanYin_078</string>
	<key>1&apos;&apos; - 2</key>
	<string>PiPa FanYin_079</string>
	<key>2&apos;&apos; - 2</key>
	<string>PiPa FanYin_080</string>
</dict>
</plist>
