<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>小宝贝</string>
	<key>tempo</key>
	<integer>52</integer>
	<key>tone</key>
	<string>D</string>
	<key>beat</key>
	<string>4/4</string>
	<key>contents</key>
	<array>
		<array>
			<dict>
				<key>handler</key>
				<integer>2</integer>
				<key>skill</key>
				<string>TAN</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>3</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>4</integer>
				<key>skill</key>
				<string>TIAO</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>5</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>4</integer>
				<key>skill</key>
				<string>TAN</string>
				<key>note</key>
				<real>0.5</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>5</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>2</integer>
				<key>skill</key>
				<string>TAN</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>3</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>3</integer>
				<key>skill</key>
				<string>TIAO</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>1</string>
						<key>string_index</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>3</integer>
				<key>skill</key>
				<string>TAN</string>
				<key>note</key>
				<real>0.5</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>1</string>
						<key>string_index</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>1</integer>
				<key>skill</key>
				<string>TAN</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>2</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>2</integer>
				<key>skill</key>
				<string>TIAO</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>3</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>3</integer>
				<key>skill</key>
				<string>TAN</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>4</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>3</integer>
				<key>skill</key>
				<string>TIAO</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>4</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>3</integer>
				<key>skill</key>
				<string>TAN</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>3</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>3</integer>
				<key>skill</key>
				<string>TIAO</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>4</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>3</integer>
				<key>skill</key>
				<string>TAN</string>
				<key>note</key>
				<real>0.5</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>5</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>2</integer>
				<key>skill</key>
				<string>TAN</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>3</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>4</integer>
				<key>skill</key>
				<string>TIAO</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>5</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>4</integer>
				<key>skill</key>
				<string>TAN</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>5</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>handler</key>
				<integer>4</integer>
				<key>skill</key>
				<string>TIAO</string>
				<key>note</key>
				<real>0.25</real>
				<key>scales</key>
				<array>
					<dict>
						<key>scale</key>
						<string>5</string>
						<key>string_index</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
		</array>
	</array>
</dict>
</plist>
